.vsconfig
*.csproj
.vs/
*.meta
Library/
*.asset
.vscode/settings.json
*.sln
*.zip
Windows/BSCardGame_Data/deck/
Assets/Resources/DB/Img/
Windows/BSCardGame_Data/card/
Logs/
Windows_main/
Windows/
obj/
Assets/Photon/PhotonNetworking-Documentation.pdf
Assets/Resources/Texture/Sample/
Temp/
Windows_mine/
Windows_play/
Inno/
UserSettings/Layouts/default-2022.dwlt
data/
Windows_20250808/
Packages/manifest.json
Packages/packages-lock.json
ProjectSettings/ProjectVersion.txt
UserSettings/Layouts/default-6000.dwlt
Assets/_Recovery/0.unity
Assets/Packages/Octokit.14.0.0/
